<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/Images/momoes.jpg" class="d-block w-100" alt="..." style="height: 300px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/chinese.jpg" class="d-block w-100" alt="..." style="height: 300px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/pizza.jpg" class="d-block w-100" alt="..." style="height: 300px; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  
      <h1 style="align-items: center; display: flex; justify-content: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif ;font-weight: 900; font-size: xx-large;" >Welcome {{userName}}</h1>